In [2]:
%pip install pandas -q

WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [3]:
import datetime
from datetime import datetime
import pandas as pd
import glob

GR_DATA_PATH = 'data/'


def join_data() -> pd.DataFrame:
    files = glob.glob(f'{GR_DATA_PATH}/gr/*.csv')
    dfs = [pd.read_csv(file) for file in files]
    return pd.concat(dfs)


def export_data(df: pd.DataFrame) -> None:
    date = datetime.now().strftime('%Y%m%d%H%M%S')
    df.to_csv(f'{GR_DATA_PATH}/{date}.csv')

In [4]:
df = join_data()

In [5]:
df.columns

Index(['title', 'authors', 'rating_value', 'desc', 'pub_info', 'cover', 'id',
       'format', 'num_pages', 'publication_timestamp', 'publication_date',
       'publisher', 'isbn', 'isbn13', 'language', 'review_count_by_lang',
       'genres', 'rating_count', 'review_count'],
      dtype='object')

In [6]:
info = df.drop(['title', 'desc', 'pub_info', 'cover', 'id', 'publication_timestamp', 'isbn', 'isbn13'], axis=1)

In [127]:
info

,authors,rating_value,format,num_pages,publication_date,publisher,language,review_count_by_lang,genres,rating_count,review_count
0,{Paul Hallasy},500,Paperback,156,2000-03-06,iUniverse,English,NaN,NaN,<NA>,<NA>
1,{Eric Brown},374,Paperback,336,2004-08-01,Gollancz,English,"{'cs': 1, 'en': 3, 'es': 5}","['Science Fiction', 'Cyberpunk']",46,9
2,{Eric Brown},357,Paperback,327,2001-01-01,Gollancz,English,"{'en': 9, 'es': 1, 'cs': 1}","['Science Fiction', 'Cyberpunk']",87,11
5,"{Peter Moon, Preston B. Nichols}",395,Paperback,256,1995-01-01,Sky Books,English,"{'en': 4, 'ro': 1}","['Conspiracy Theories', 'Nonfiction']",102,5
6,"{Al Lacy, JoAnna Lacy}",401,Paperback,352,2003-06-07,The Crown Publishing Group,English,{'en': 22},"['Christian Fiction', 'Fiction', 'Historical F...",234,22
...,...,...,...,...,...,...,...,...,...,...,...
111,{C.M. Pannell},350,Paperback,387,2000-01-15,"Royal Botanic Gardens, Kew",English,NaN,NaN,<NA>,<NA>
112,{David McCullough},403,Paperback,240,1992-11-01,Simon Schuster,English,{'en': 836},"['History', 'Nonfiction', 'Biography', 'Americ...",6731,849
113,{David McCullough},409,Paperback,445,1982-05-12,Simon & Schuster,English,{'en': 1724},"['History', 'Biography', 'Nonfiction', 'Americ...",33040,1753
114,{David McCullough},425,Hardcover,608,2001-06-01,Simon & Schuster,English,"{'en': 1728, 'fr': 1}","['History', 'Nonfiction', 'American History', ...",16831,1758
115,{David McCullough},407,Hardcover,751,2001-05-01,Simon & Schuster,English,"{'en': 6931, 'pt': 1, 'mn': 1, 'ar': 3, 'fr': ...","['History', 'Biography', 'Nonfiction', 'Americ...",361041,7202

In [16]:
info['language'].unique()

0      English
1      English
2      English
3          NaN
4          NaN
        ...
111    English
112    English
113    English
114    English
115    English
Name: language, Length: 2400, dtype: object

In [18]:
info['format'].unique()

array(['Paperback', 'Hardcover', 'Mass Market Paperback',
       'Library Binding', 'CD-ROM', 'binding', 'Audio CD', 'Spiral-bound',
       'Cards', 'Perfect Paperback', nan, 'Unknown Binding',
       'Audio Cassette', 'Imitation Leather', 'Leather Bound',
       'Spiral Bound', 'Audiobook', 'Sheet music', 'paper', 'cloth',
       'hardback', 'MP3 CD', 'Hardcover - Deluxe Illustrated Edition',
       'Tankobon Hardcover', 'Pamphlet', 'Audible Audio', 'Plastic Comb',
       'Board book', 'Unbound', 'video pack'], dtype=object)

In [56]:
info['authors'].map(lambda x: set(ast.literal_eval(x)))

0           {Paul Hallasy}
1             {Eric Brown}
2             {Eric Brown}
3      {Anne M. Holzapfel}
4             {Eric Brown}
              ...
111         {C.M. Pannell}
112     {David McCullough}
113     {David McCullough}
114     {David McCullough}
115     {David McCullough}
Name: authors, Length: 2400, dtype: object

In [38]:
info['authors'] = info['authors'].map(lambda x: set(ast.literal_eval(x)))

In [39]:
info['authors'][0]

0                                 {Paul Hallasy}
0                           {Oriental Institute}
0                                 {J.K. Rowling}
0    {Christopher Chippindale, Paul S. C. Taçon}
0       {Michael C.J. Putnam, Jan M. Ziolkowski}
0                       {Robert Louis Stevenson}
0                    {Euripides, David Franklin}
0                             {David McCullough}
0                    {Aristophanes, B.B. Rogers}
0             {Walt Whitman, Michael Cunningham}
0                     {Carol Cappelline Schulte}
0                               {Ronald C. Katz}
0                 {Bernie Mac, Pablo F. Fenjves}
0         {Plato, Tom Griffith, R.B. Rutherford}
0            {Leonard Richardson, Lucas Carlson}
0                                   {Jim Cramer}
0                {Paul Patton, Jean Baudrillard}
0                             {Stephen R. Covey}
Name: authors, dtype: object

In [40]:
info.explode('authors')

,authors,rating_value,format,num_pages,publication_date,publisher,language,review_count_by_lang,genres,rating_count,review_count
0,Paul Hallasy,5.00,Paperback,156.0,2000-03-06,iUniverse,English,NaN,NaN,NaN,NaN
1,Eric Brown,3.74,Paperback,336.0,2004-08-01,Gollancz,English,"{'cs': 1, 'en': 3, 'es': 5}","['Science Fiction', 'Cyberpunk']",46.0,9.0
2,Eric Brown,3.57,Paperback,327.0,2001-01-01,Gollancz,English,"{'en': 9, 'es': 1, 'cs': 1}","['Science Fiction', 'Cyberpunk']",87.0,11.0
3,Anne M. Holzapfel,5.00,Paperback,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Eric Brown,3.93,Hardcover,240.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
111,C.M. Pannell,3.50,Paperback,387.0,2000-01-15,"Royal Botanic Gardens, Kew",English,NaN,NaN,NaN,NaN
112,David McCullough,4.03,Paperback,240.0,1992-11-01,Simon Schuster,English,{'en': 836},"['History', 'Nonfiction', 'Biography', 'Americ...",6731.0,849.0
113,David McCullough,4.09,Paperback,445.0,1982-05-12,Simon & Schuster,English,{'en': 1724},"['History', 'Biography', 'Nonfiction', 'Americ...",33040.0,1753.0
114,David McCullough,4.25,Hardcover,608.0,2001-06-01,Simon & Schuster,English,"{'en': 1728, 'fr': 1}","['History', 'Nonfiction', 'American History', ...",16831.0,1758.0
115,David McCullough,4.07,Hardcover,751.0,2001-05-01,Simon & Schuster,English,"{'en': 6931, 'pt': 1, 'mn': 1, 'ar': 3, 'fr': ...","['History', 'Biography', 'Nonfiction', 'Americ...",361041.0,7202.0

In [37]:
info['authors']

0                ['Paul Hallasy', 'Paul Hallasy']
1                    ['Eric Brown', 'Eric Brown']
2                    ['Eric Brown', 'Eric Brown']
3      ['Anne M. Holzapfel', 'Anne M. Holzapfel']
4                    ['Eric Brown', 'Eric Brown']
                          ...
111              ['C.M. Pannell', 'C.M. Pannell']
112      ['David McCullough', 'David McCullough']
113      ['David McCullough', 'David McCullough']
114      ['David McCullough', 'David McCullough']
115      ['David McCullough', 'David McCullough']
Name: authors, Length: 2400, dtype: object

In [73]:
info['rating_value'] = info['rating_value'].map(lambda x: int(x*100))

In [74]:
info

,authors,rating_value,format,num_pages,publication_date,publisher,language,review_count_by_lang,genres,rating_count,review_count
0,{Paul Hallasy},500,Paperback,156.0,2000-03-06,iUniverse,English,NaN,NaN,NaN,NaN
1,{Eric Brown},374,Paperback,336.0,2004-08-01,Gollancz,English,"{'cs': 1, 'en': 3, 'es': 5}","['Science Fiction', 'Cyberpunk']",46.0,9.0
2,{Eric Brown},357,Paperback,327.0,2001-01-01,Gollancz,English,"{'en': 9, 'es': 1, 'cs': 1}","['Science Fiction', 'Cyberpunk']",87.0,11.0
3,{Anne M. Holzapfel},500,Paperback,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,{Eric Brown},393,Hardcover,240.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
111,{C.M. Pannell},350,Paperback,387.0,2000-01-15,"Royal Botanic Gardens, Kew",English,NaN,NaN,NaN,NaN
112,{David McCullough},403,Paperback,240.0,1992-11-01,Simon Schuster,English,{'en': 836},"['History', 'Nonfiction', 'Biography', 'Americ...",6731.0,849.0
113,{David McCullough},409,Paperback,445.0,1982-05-12,Simon & Schuster,English,{'en': 1724},"['History', 'Biography', 'Nonfiction', 'Americ...",33040.0,1753.0
114,{David McCullough},425,Hardcover,608.0,2001-06-01,Simon & Schuster,English,"{'en': 1728, 'fr': 1}","['History', 'Nonfiction', 'American History', ...",16831.0,1758.0
115,{David McCullough},407,Hardcover,751.0,2001-05-01,Simon & Schuster,English,"{'en': 6931, 'pt': 1, 'mn': 1, 'ar': 3, 'fr': ...","['History', 'Biography', 'Nonfiction', 'Americ...",361041.0,7202.0

In [101]:
info['num_pages'] = info['num_pages'].convert_dtypes()
info['num_pages'] = info['num_pages'].replace('<NA>', np.nan)

In [107]:
info[~info['num_pages'].isna()]

,authors,rating_value,format,num_pages,publication_date,publisher,language,review_count_by_lang,genres,rating_count,review_count
0,{Paul Hallasy},500,Paperback,156,2000-03-06,iUniverse,English,NaN,NaN,NaN,NaN
1,{Eric Brown},374,Paperback,336,2004-08-01,Gollancz,English,"{'cs': 1, 'en': 3, 'es': 5}","['Science Fiction', 'Cyberpunk']",46.0,9.0
2,{Eric Brown},357,Paperback,327,2001-01-01,Gollancz,English,"{'en': 9, 'es': 1, 'cs': 1}","['Science Fiction', 'Cyberpunk']",87.0,11.0
4,{Eric Brown},393,Hardcover,240,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"{Peter Moon, Preston B. Nichols}",395,Paperback,256,1995-01-01,Sky Books,English,"{'en': 4, 'ro': 1}","['Conspiracy Theories', 'Nonfiction']",102.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...
111,{C.M. Pannell},350,Paperback,387,2000-01-15,"Royal Botanic Gardens, Kew",English,NaN,NaN,NaN,NaN
112,{David McCullough},403,Paperback,240,1992-11-01,Simon Schuster,English,{'en': 836},"['History', 'Nonfiction', 'Biography', 'Americ...",6731.0,849.0
113,{David McCullough},409,Paperback,445,1982-05-12,Simon & Schuster,English,{'en': 1724},"['History', 'Biography', 'Nonfiction', 'Americ...",33040.0,1753.0
114,{David McCullough},425,Hardcover,608,2001-06-01,Simon & Schuster,English,"{'en': 1728, 'fr': 1}","['History', 'Nonfiction', 'American History', ...",16831.0,1758.0
115,{David McCullough},407,Hardcover,751,2001-05-01,Simon & Schuster,English,"{'en': 6931, 'pt': 1, 'mn': 1, 'ar': 3, 'fr': ...","['History', 'Biography', 'Nonfiction', 'Americ...",361041.0,7202.0

In [114]:
info = info[~info['publisher'].isna()]

In [115]:
len(info['publisher'].unique())

1205

In [116]:
info

,authors,rating_value,format,num_pages,publication_date,publisher,language,review_count_by_lang,genres,rating_count,review_count
0,{Paul Hallasy},500,Paperback,156,2000-03-06,iUniverse,English,NaN,NaN,NaN,NaN
1,{Eric Brown},374,Paperback,336,2004-08-01,Gollancz,English,"{'cs': 1, 'en': 3, 'es': 5}","['Science Fiction', 'Cyberpunk']",46.0,9.0
2,{Eric Brown},357,Paperback,327,2001-01-01,Gollancz,English,"{'en': 9, 'es': 1, 'cs': 1}","['Science Fiction', 'Cyberpunk']",87.0,11.0
5,"{Peter Moon, Preston B. Nichols}",395,Paperback,256,1995-01-01,Sky Books,English,"{'en': 4, 'ro': 1}","['Conspiracy Theories', 'Nonfiction']",102.0,5.0
6,"{Al Lacy, JoAnna Lacy}",401,Paperback,352,2003-06-07,The Crown Publishing Group,English,{'en': 22},"['Christian Fiction', 'Fiction', 'Historical F...",234.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...
111,{C.M. Pannell},350,Paperback,387,2000-01-15,"Royal Botanic Gardens, Kew",English,NaN,NaN,NaN,NaN
112,{David McCullough},403,Paperback,240,1992-11-01,Simon Schuster,English,{'en': 836},"['History', 'Nonfiction', 'Biography', 'Americ...",6731.0,849.0
113,{David McCullough},409,Paperback,445,1982-05-12,Simon & Schuster,English,{'en': 1724},"['History', 'Biography', 'Nonfiction', 'Americ...",33040.0,1753.0
114,{David McCullough},425,Hardcover,608,2001-06-01,Simon & Schuster,English,"{'en': 1728, 'fr': 1}","['History', 'Nonfiction', 'American History', ...",16831.0,1758.0
115,{David McCullough},407,Hardcover,751,2001-05-01,Simon & Schuster,English,"{'en': 6931, 'pt': 1, 'mn': 1, 'ar': 3, 'fr': ...","['History', 'Biography', 'Nonfiction', 'Americ...",361041.0,7202.0

In [117]:
info['rating_count']

0           NaN
1          46.0
2          87.0
5         102.0
6         234.0
         ...
111         NaN
112      6731.0
113     33040.0
114     16831.0
115    361041.0
Name: rating_count, Length: 2334, dtype: float64

In [122]:
info['rating_count'] = info['rating_count'].convert_dtypes()
info['review_count'] = info['review_count'].convert_dtypes()

/tmp/ipykernel_527/3672696252.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  info['rating_count'] = info['rating_count'].convert_dtypes()
/tmp/ipykernel_527/3672696252.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  info['review_count'] = info['review_count'].convert_dtypes()

In [123]:
info

,authors,rating_value,format,num_pages,publication_date,publisher,language,review_count_by_lang,genres,rating_count,review_count
0,{Paul Hallasy},500,Paperback,156,2000-03-06,iUniverse,English,NaN,NaN,<NA>,<NA>
1,{Eric Brown},374,Paperback,336,2004-08-01,Gollancz,English,"{'cs': 1, 'en': 3, 'es': 5}","['Science Fiction', 'Cyberpunk']",46,9
2,{Eric Brown},357,Paperback,327,2001-01-01,Gollancz,English,"{'en': 9, 'es': 1, 'cs': 1}","['Science Fiction', 'Cyberpunk']",87,11
5,"{Peter Moon, Preston B. Nichols}",395,Paperback,256,1995-01-01,Sky Books,English,"{'en': 4, 'ro': 1}","['Conspiracy Theories', 'Nonfiction']",102,5
6,"{Al Lacy, JoAnna Lacy}",401,Paperback,352,2003-06-07,The Crown Publishing Group,English,{'en': 22},"['Christian Fiction', 'Fiction', 'Historical F...",234,22
...,...,...,...,...,...,...,...,...,...,...,...
111,{C.M. Pannell},350,Paperback,387,2000-01-15,"Royal Botanic Gardens, Kew",English,NaN,NaN,<NA>,<NA>
112,{David McCullough},403,Paperback,240,1992-11-01,Simon Schuster,English,{'en': 836},"['History', 'Nonfiction', 'Biography', 'Americ...",6731,849
113,{David McCullough},409,Paperback,445,1982-05-12,Simon & Schuster,English,{'en': 1724},"['History', 'Biography', 'Nonfiction', 'Americ...",33040,1753
114,{David McCullough},425,Hardcover,608,2001-06-01,Simon & Schuster,English,"{'en': 1728, 'fr': 1}","['History', 'Nonfiction', 'American History', ...",16831,1758
115,{David McCullough},407,Hardcover,751,2001-05-01,Simon & Schuster,English,"{'en': 6931, 'pt': 1, 'mn': 1, 'ar': 3, 'fr': ...","['History', 'Biography', 'Nonfiction', 'Americ...",361041,7202

In [125]:
info['genres']

0                                                    NaN
1                       ['Science Fiction', 'Cyberpunk']
2                       ['Science Fiction', 'Cyberpunk']
5                  ['Conspiracy Theories', 'Nonfiction']
6      ['Christian Fiction', 'Fiction', 'Historical F...
                             ...
111                                                  NaN
112    ['History', 'Nonfiction', 'Biography', 'Americ...
113    ['History', 'Biography', 'Nonfiction', 'Americ...
114    ['History', 'Nonfiction', 'American History', ...
115    ['History', 'Biography', 'Nonfiction', 'Americ...
Name: genres, Length: 2334, dtype: object

In [138]:
info[info['review_count_by_lang'].isna()]

,authors,rating_value,format,num_pages,publication_date,publisher,language,review_count_by_lang,genres,rating_count,review_count
0,{Paul Hallasy},500,Paperback,156,2000-03-06,iUniverse,English,NaN,NaN,<NA>,<NA>
27,{Bernd Herzogenrath},400,Paperback,256,1999-01-01,Rodopi Bv Editions,English,NaN,NaN,<NA>,<NA>
28,"{Amy Sickels, Harold Bloom}",415,Hardcover,254,2004-01-01,Chelsea House Pub,English,NaN,NaN,<NA>,<NA>
32,{Dennis Barone},407,Paperback,224,1995-08-01,University of Pennsylvania Press,English,NaN,NaN,<NA>,<NA>
33,{François Gavillon},425,Paperback,211,2000-09-05,PU RENNES,French,NaN,NaN,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...
103,"{Larry Langman, Paul Gold}",433,Paperback,416,2001-05-29,McFarland,English,NaN,NaN,<NA>,<NA>
104,"{Ajay Heble, Daniel Fischlin}",400,Paperback,462,2004-03-30,Wesleyan University Press,English,NaN,NaN,<NA>,<NA>
109,{John Ruskin},433,Leather Bound,0,1999-01-01,Classic Publishers,English,NaN,NaN,<NA>,<NA>
110,"{Eran Schaerf, Daniel Kurjakovic, Antonio Guzmán}",350,Paperback,248,2003-03-02,nai010 publishers,English,NaN,NaN,<NA>,<NA>
111,{C.M. Pannell},350,Paperback,387,2000-01-15,"Royal Botanic Gardens, Kew",English,NaN,NaN,<NA>,<NA>

In [146]:
info

,authors,rating_value,format,num_pages,publication_date,publisher,language,review_count_by_lang,genres,rating_count,review_count
0,{Paul Hallasy},500,Paperback,156,2000-03-06,iUniverse,English,NaN,NaN,<NA>,<NA>
1,{Eric Brown},374,Paperback,336,2004-08-01,Gollancz,English,"{'cs': 1, 'en': 3, 'es': 5}","['Science Fiction', 'Cyberpunk']",46,9
2,{Eric Brown},357,Paperback,327,2001-01-01,Gollancz,English,"{'en': 9, 'es': 1, 'cs': 1}","['Science Fiction', 'Cyberpunk']",87,11
5,"{Peter Moon, Preston B. Nichols}",395,Paperback,256,1995-01-01,Sky Books,English,"{'en': 4, 'ro': 1}","['Conspiracy Theories', 'Nonfiction']",102,5
6,"{Al Lacy, JoAnna Lacy}",401,Paperback,352,2003-06-07,The Crown Publishing Group,English,{'en': 22},"['Christian Fiction', 'Fiction', 'Historical F...",234,22
...,...,...,...,...,...,...,...,...,...,...,...
111,{C.M. Pannell},350,Paperback,387,2000-01-15,"Royal Botanic Gardens, Kew",English,NaN,NaN,<NA>,<NA>
112,{David McCullough},403,Paperback,240,1992-11-01,Simon Schuster,English,{'en': 836},"['History', 'Nonfiction', 'Biography', 'Americ...",6731,849
113,{David McCullough},409,Paperback,445,1982-05-12,Simon & Schuster,English,{'en': 1724},"['History', 'Biography', 'Nonfiction', 'Americ...",33040,1753
114,{David McCullough},425,Hardcover,608,2001-06-01,Simon & Schuster,English,"{'en': 1728, 'fr': 1}","['History', 'Nonfiction', 'American History', ...",16831,1758
115,{David McCullough},407,Hardcover,751,2001-05-01,Simon & Schuster,English,"{'en': 6931, 'pt': 1, 'mn': 1, 'ar': 3, 'fr': ...","['History', 'Biography', 'Nonfiction', 'Americ...",361041,7202

In [149]:
replacement_dict = {'review_count_by_lang': {'en': 0}}
info.fillna(replacement_dict, inplace=True)

/tmp/ipykernel_527/901165703.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  info.fillna(replacement_dict, inplace=True)

In [152]:
info.fillna({'rating_count': 0}, inplace=True)

/tmp/ipykernel_527/2813761313.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  info.fillna({'rating_count': 0}, inplace=True)

In [153]:
info.fillna({'review_count': 0}, inplace=True)

/tmp/ipykernel_527/3730544559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  info.fillna({'review_count': 0}, inplace=True)

In [154]:
info

,authors,rating_value,format,num_pages,publication_date,publisher,language,review_count_by_lang,genres,rating_count,review_count
0,{Paul Hallasy},500,Paperback,156,2000-03-06,iUniverse,English,NaN,NaN,0,0
1,{Eric Brown},374,Paperback,336,2004-08-01,Gollancz,English,"{'cs': 1, 'en': 3, 'es': 5}","['Science Fiction', 'Cyberpunk']",46,9
2,{Eric Brown},357,Paperback,327,2001-01-01,Gollancz,English,"{'en': 9, 'es': 1, 'cs': 1}","['Science Fiction', 'Cyberpunk']",87,11
5,"{Peter Moon, Preston B. Nichols}",395,Paperback,256,1995-01-01,Sky Books,English,"{'en': 4, 'ro': 1}","['Conspiracy Theories', 'Nonfiction']",102,5
6,"{Al Lacy, JoAnna Lacy}",401,Paperback,352,2003-06-07,The Crown Publishing Group,English,{'en': 22},"['Christian Fiction', 'Fiction', 'Historical F...",234,22
...,...,...,...,...,...,...,...,...,...,...,...
111,{C.M. Pannell},350,Paperback,387,2000-01-15,"Royal Botanic Gardens, Kew",English,NaN,NaN,0,0
112,{David McCullough},403,Paperback,240,1992-11-01,Simon Schuster,English,{'en': 836},"['History', 'Nonfiction', 'Biography', 'Americ...",6731,849
113,{David McCullough},409,Paperback,445,1982-05-12,Simon & Schuster,English,{'en': 1724},"['History', 'Biography', 'Nonfiction', 'Americ...",33040,1753
114,{David McCullough},425,Hardcover,608,2001-06-01,Simon & Schuster,English,"{'en': 1728, 'fr': 1}","['History', 'Nonfiction', 'American History', ...",16831,1758
115,{David McCullough},407,Hardcover,751,2001-05-01,Simon & Schuster,English,"{'en': 6931, 'pt': 1, 'mn': 1, 'ar': 3, 'fr': ...","['History', 'Biography', 'Nonfiction', 'Americ...",361041,7202

In [163]:
len(info['language'].unique())

15

In [179]:
lang_dummies = pd.get_dummies(info['language'])
info = pd.concat([info, lang_dummies], axis=1)

In [180]:
info.drop(['language'], inplace=True, axis=1)

In [181]:
info

,authors,rating_value,format,num_pages,publication_date,publisher,review_count_by_lang,genres,rating_count,review_count,...,French,German,"Greek, Ancient (to 1453)",Italian,Japanese,Latin,Multiple languages,Portuguese,Spanish; Castilian,Swedish
0,"['Paul Hallasy', 'Paul Hallasy']",5.00,Paperback,156.0,2000-03-06,iUniverse,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
1,"['Eric Brown', 'Eric Brown']",3.74,Paperback,336.0,2004-08-01,Gollancz,"{'cs': 1, 'en': 3, 'es': 5}","['Science Fiction', 'Cyberpunk']",46.0,9.0,...,False,False,False,False,False,False,False,False,False,False
2,"['Eric Brown', 'Eric Brown']",3.57,Paperback,327.0,2001-01-01,Gollancz,"{'en': 9, 'es': 1, 'cs': 1}","['Science Fiction', 'Cyberpunk']",87.0,11.0,...,False,False,False,False,False,False,False,False,False,False
3,"['Anne M. Holzapfel', 'Anne M. Holzapfel']",5.00,Paperback,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
4,"['Eric Brown', 'Eric Brown']",3.93,Hardcover,240.0,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,"['C.M. Pannell', 'C.M. Pannell']",3.50,Paperback,387.0,2000-01-15,"Royal Botanic Gardens, Kew",NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
112,"['David McCullough', 'David McCullough']",4.03,Paperback,240.0,1992-11-01,Simon Schuster,{'en': 836},"['History', 'Nonfiction', 'Biography', 'Americ...",6731.0,849.0,...,False,False,False,False,False,False,False,False,False,False
113,"['David McCullough', 'David McCullough']",4.09,Paperback,445.0,1982-05-12,Simon & Schuster,{'en': 1724},"['History', 'Biography', 'Nonfiction', 'Americ...",33040.0,1753.0,...,False,False,False,False,False,False,False,False,False,False
114,"['David McCullough', 'David McCullough']",4.25,Hardcover,608.0,2001-06-01,Simon & Schuster,"{'en': 1728, 'fr': 1}","['History', 'Nonfiction', 'American History', ...",16831.0,1758.0,...,False,False,False,False,False,False,False,False,False,False
115,"['David McCullough', 'David McCullough']",4.07,Hardcover,751.0,2001-05-01,Simon & Schuster,"{'en': 6931, 'pt': 1, 'mn': 1, 'ar': 3, 'fr': ...","['History', 'Biography', 'Nonfiction', 'Americ...",361041.0,7202.0,...,False,False,False,False,False,False,False,False,False,False

In [184]:
len(info['publisher'].unique())

1206

In [188]:
%pip install scikit-learn -q

WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [190]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

info['publisher_enc'] = le.fit_transform(info['publisher'])

In [191]:
info

,authors,rating_value,format,num_pages,publication_date,publisher,review_count_by_lang,genres,rating_count,review_count,...,German,"Greek, Ancient (to 1453)",Italian,Japanese,Latin,Multiple languages,Portuguese,Spanish; Castilian,Swedish,publisher_enc
0,"['Paul Hallasy', 'Paul Hallasy']",5.00,Paperback,156.0,2000-03-06,iUniverse,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,1196
1,"['Eric Brown', 'Eric Brown']",3.74,Paperback,336.0,2004-08-01,Gollancz,"{'cs': 1, 'en': 3, 'es': 5}","['Science Fiction', 'Cyberpunk']",46.0,9.0,...,False,False,False,False,False,False,False,False,False,395
2,"['Eric Brown', 'Eric Brown']",3.57,Paperback,327.0,2001-01-01,Gollancz,"{'en': 9, 'es': 1, 'cs': 1}","['Science Fiction', 'Cyberpunk']",87.0,11.0,...,False,False,False,False,False,False,False,False,False,395
3,"['Anne M. Holzapfel', 'Anne M. Holzapfel']",5.00,Paperback,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,1205
4,"['Eric Brown', 'Eric Brown']",3.93,Hardcover,240.0,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,1205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,"['C.M. Pannell', 'C.M. Pannell']",3.50,Paperback,387.0,2000-01-15,"Royal Botanic Gardens, Kew",NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,907
112,"['David McCullough', 'David McCullough']",4.03,Paperback,240.0,1992-11-01,Simon Schuster,{'en': 836},"['History', 'Nonfiction', 'Biography', 'Americ...",6731.0,849.0,...,False,False,False,False,False,False,False,False,False,951
113,"['David McCullough', 'David McCullough']",4.09,Paperback,445.0,1982-05-12,Simon & Schuster,{'en': 1724},"['History', 'Biography', 'Nonfiction', 'Americ...",33040.0,1753.0,...,False,False,False,False,False,False,False,False,False,946
114,"['David McCullough', 'David McCullough']",4.25,Hardcover,608.0,2001-06-01,Simon & Schuster,"{'en': 1728, 'fr': 1}","['History', 'Nonfiction', 'American History', ...",16831.0,1758.0,...,False,False,False,False,False,False,False,False,False,946
115,"['David McCullough', 'David McCullough']",4.07,Hardcover,751.0,2001-05-01,Simon & Schuster,"{'en': 6931, 'pt': 1, 'mn': 1, 'ar': 3, 'fr': ...","['History', 'Biography', 'Nonfiction', 'Americ...",361041.0,7202.0,...,False,False,False,False,False,False,False,False,False,946

In [195]:
info['format'].unique()

array(['Paperback', 'Hardcover', 'Mass Market Paperback',
       'Library Binding', 'CD-ROM', 'binding', 'Audio CD', 'Spiral-bound',
       'Cards', 'Perfect Paperback', nan, 'Unknown Binding',
       'Audio Cassette', 'Imitation Leather', 'Leather Bound',
       'Spiral Bound', 'Audiobook', 'Sheet music', 'paper', 'cloth',
       'hardback', 'MP3 CD', 'Hardcover - Deluxe Illustrated Edition',
       'Tankobon Hardcover', 'Pamphlet', 'Audible Audio', 'Plastic Comb',
       'Board book', 'Unbound', 'video pack'], dtype=object)

In [196]:
format_dummies = pd.get_dummies(info['format'])

In [199]:
format_dummies = pd.get_dummies(df['format'])
info = pd.concat([info, format_dummies], axis=1)
info.drop(['format'], inplace=True, axis=1)

In [200]:
info

,authors,rating_value,num_pages,publication_date,publisher,review_count_by_lang,genres,rating_count,review_count,Arabic,...,Spiral Bound,Spiral-bound,Tankobon Hardcover,Unbound,Unknown Binding,binding,cloth,hardback,paper,video pack
0,"['Paul Hallasy', 'Paul Hallasy']",5.00,156.0,2000-03-06,iUniverse,NaN,NaN,NaN,NaN,False,...,False,False,False,False,False,False,False,False,False,False
1,"['Eric Brown', 'Eric Brown']",3.74,336.0,2004-08-01,Gollancz,"{'cs': 1, 'en': 3, 'es': 5}","['Science Fiction', 'Cyberpunk']",46.0,9.0,False,...,False,False,False,False,False,False,False,False,False,False
2,"['Eric Brown', 'Eric Brown']",3.57,327.0,2001-01-01,Gollancz,"{'en': 9, 'es': 1, 'cs': 1}","['Science Fiction', 'Cyberpunk']",87.0,11.0,False,...,False,False,False,False,False,False,False,False,False,False
3,"['Anne M. Holzapfel', 'Anne M. Holzapfel']",5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,...,False,False,False,False,False,False,False,False,False,False
4,"['Eric Brown', 'Eric Brown']",3.93,240.0,NaN,NaN,NaN,NaN,NaN,NaN,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,"['C.M. Pannell', 'C.M. Pannell']",3.50,387.0,2000-01-15,"Royal Botanic Gardens, Kew",NaN,NaN,NaN,NaN,False,...,False,False,False,False,False,False,False,False,False,False
112,"['David McCullough', 'David McCullough']",4.03,240.0,1992-11-01,Simon Schuster,{'en': 836},"['History', 'Nonfiction', 'Biography', 'Americ...",6731.0,849.0,False,...,False,False,False,False,False,False,False,False,False,False
113,"['David McCullough', 'David McCullough']",4.09,445.0,1982-05-12,Simon & Schuster,{'en': 1724},"['History', 'Biography', 'Nonfiction', 'Americ...",33040.0,1753.0,False,...,False,False,False,False,False,False,False,False,False,False
114,"['David McCullough', 'David McCullough']",4.25,608.0,2001-06-01,Simon & Schuster,"{'en': 1728, 'fr': 1}","['History', 'Nonfiction', 'American History', ...",16831.0,1758.0,False,...,False,False,False,False,False,False,False,False,False,False
115,"['David McCullough', 'David McCullough']",4.07,751.0,2001-05-01,Simon & Schuster,"{'en': 6931, 'pt': 1, 'mn': 1, 'ar': 3, 'fr': ...","['History', 'Biography', 'Nonfiction', 'Americ...",361041.0,7202.0,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
info['genres']

0                                                    NaN
1                       ['Science Fiction', 'Cyberpunk']
2                       ['Science Fiction', 'Cyberpunk']
3                                                    NaN
4                                                    NaN
                             ...
111                                                  NaN
112    ['History', 'Nonfiction', 'Biography', 'Americ...
113    ['History', 'Biography', 'Nonfiction', 'Americ...
114    ['History', 'Nonfiction', 'American History', ...
115    ['History', 'Biography', 'Nonfiction', 'Americ...
Name: genres, Length: 2400, dtype: object

In [16]:
rcl = pd.DataFrame(info['review_count_by_lang'])

In [32]:
rcl['review_count_by_lang'].fillna(value="{'en': 0}", inplace=True)

In [36]:
type(rcl['review_count_by_lang'])

pandas.core.series.Series

In [56]:
rcl['review_count_by_lang']

0                                              {'en': 0}
1                            {'cs': 1, 'en': 3, 'es': 5}
2                            {'en': 9, 'es': 1, 'cs': 1}
3                                              {'en': 0}
4                                              {'en': 0}
                             ...
111                                            {'en': 0}
112                                          {'en': 836}
113                                         {'en': 1724}
114                                {'en': 1728, 'fr': 1}
115    {'en': 6931, 'pt': 1, 'mn': 1, 'ar': 3, 'fr': ...
Name: review_count_by_lang, Length: 2400, dtype: object

In [58]:
info['genres'].fillna(value="[]")

0                                                     []
1                       ['Science Fiction', 'Cyberpunk']
2                       ['Science Fiction', 'Cyberpunk']
3                                                     []
4                                                     []
                             ...
111                                                   []
112    ['History', 'Nonfiction', 'Biography', 'Americ...
113    ['History', 'Biography', 'Nonfiction', 'Americ...
114    ['History', 'Nonfiction', 'American History', ...
115    ['History', 'Biography', 'Nonfiction', 'Americ...
Name: genres, Length: 2400, dtype: object